body::before {
    display: block;
    content: '';
    height: 60px;
}

.bg-section-andes {
    background-image: url('img/Santiago_2.jpeg');
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    padding: 50px; /* Optional padding for spacing */
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.2); /* Adjust the last value for transparency */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-overlay-2 {
    background-color: rgba(0, 0, 0, 0.1); /* Adjust the last value for transparency */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0.0); /* Adjust the last value for transparency */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-nav-dark-t {
    background-color: rgba(0, 0, 0, 0.8);
}

.spaced-list li {
    margin-bottom: 10px; /* Adjust this value as needed */
}

.framed-title {
    padding: 5px 5px; /* Adjust padding */
    border: 1px solid #333; /* Frame border color and thickness */
    display: inline-block; /* Keep frame tight around text */
    background-color: rgba(255, 193, 7, 1.0); /* Optional background color */
    font-weight: 500; /* Bold text */
}

.garamond-title {
    font-family: 'EB Garamond', serif;
}

.garamond-text {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
}